@import '../base/fonts';
// text elements styles
.body {
    @include body;
}



.logo a {
    font-family: $font;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.navigation-link {
    font-family: $font;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: $text;
    text-transform: uppercase;

    &:hover {
       opacity: 0.8;
    }
}

.footer-navigation-link {
    font-size: 16px;
    line-height: 24px;
    font-family: $font;
    color: $text;
    font-weight: 600;
}

// Scroll To Top button
.scroll-top-btn {
    padding: 17px;
    border: 1px solid gray;
    border-radius: 8px;
    display: block;
    position: fixed;
    background-color: $white;
    bottom: 24px;
    right: 16px;
    cursor: pointer;
    z-index: 50;

    &:hover {
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    }

    @media screen and (min-width: $desktop) {
        padding: 21px;
        right: 40px;
        bottom: 48px;
    }

    img {
        width: 14px; 
        height: 14px;
    }
}

.button {
    background-color: $green;
    padding: 7px 14px;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $black;

    @media screen and (min-width: $tablet) {
        padding: 14px 28px;
        font-size: 24px;
        line-height: 30px;
    }

    &:hover,
    &:focus {
        opacity: 0.9;
    }
}

.button.product-btn {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: $blue;

    img {
        width: 14px;

        @media screen and (min-width: $tablet) {
            width: 18px;
        }
    }
}


// General flex wrapper
.two-columns-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media screen and (min-width: $desktop) { 
        flex-direction: row;

        & > div {
            flex-basis: 50%;
            width: 50%;
        }
    }
}

.img-wrapper img {
    width: 100%;
    height: auto;
}
video {
    border-radius: 16px;
    width: 100%;
    height: auto;

    @media screen and (min-width: $desktop) { 
        border-radius: 44px;
    }
}



// Default sections paddings 
section {
    .container {
        // overflow: hidden;
        padding-top: 32px;
        padding-bottom: 48px;

        @media screen and (min-width: $desktop) {
            padding-top: 64px;
            padding-bottom: 64px;
        }
    }
}

.list {
    list-style: circle;


    strong {
        color: $green;
    }
}


.no-scroll {
    overflow: hidden;
}