@import '../base/fonts';
// text elements styles

.body {
    @include body;
}



.logo a {
    font-family: $font;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.navigation-link {
    font-family: $font;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: $text;
    text-transform: uppercase;

    &:hover {
       opacity: 0.8;
    }
}

.footer-navigation-link {
    font-size: 16px;
    line-height: 24px;
    font-family: $font;
    color: $text;
    font-weight: 600;
}

// Scroll To Top button
.scroll-top-btn {
    padding: 17px;
    border: 1px solid gray;
    border-radius: 8px;
    display: block;
    position: fixed;
    background-color: $white;
    bottom: 24px;
    right: 16px;
    cursor: pointer;
    z-index: 50;

    &:hover {
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    }

    @media screen and (min-width: $desktop) {
        padding: 21px;
        right: 40px;
        bottom: 48px;
    }

    img {
        width: 14px; 
        height: 14px;
    }
}

.button {
    background-color: $green;
    padding: 7px 14px;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $black;

    @media screen and (min-width: $tablet) {
        padding: 14px 28px;
        font-size: 24px;
        line-height: 30px;
    }

    &:hover,
    &:focus {
        opacity: 0.9;
    }
}

.button.product-btn {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: $blue;

    img {
        width: 14px;

        @media screen and (min-width: $tablet) {
            width: 18px;
        }
    }
}


// General flex wrapper
.two-columns-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media screen and (min-width: $desktop) { 
        flex-direction: row;

        & > div {
            flex-basis: 50%;
            width: 50%;
        }
    }
}

.img-wrapper img {
    width: 100%;
    height: auto;
}
video {
    border-radius: 16px;
    width: 100%;
    height: auto;

    @media screen and (min-width: $desktop) { 
        border-radius: 44px;
    }
}



// Default sections paddings 
section {
    .container {
        // overflow: hidden;
        padding-top: 32px;
        padding-bottom: 48px;

        @media screen and (min-width: $desktop) {
            padding-top: 64px;
            padding-bottom: 64px;
        }
    }
}

.list {
    li {
        list-style-type: disc;
        margin-bottom: 8px;
        margin-left: 18px;
    }

    strong {
        color: $green;
    }
}


.no-scroll {
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 32px 0;
    
    .heading-blue {
        margin-bottom: 0 !important;
        display: table-cell;
    }

    th, td {
        padding: 4px;

        @media screen and (min-width:$desktop) {
            padding: 8px;
        }
    }
    
    th:not(:last-of-type), td:not(:last-of-type) {
       
        text-align: center;
        border-right: 1px solid $white;
    }

    tr:first-of-type th {
        border-bottom: 1px solid $white;
    }

    tr:first-of-type td {
        border-bottom: 1px solid $white;
    }

    th:first-child {
        border-right: 1px solid $white;
    }

    th:last-child,
    td:last-child {
        border-right: none;
    }

    th.heading-blue {
        text-align: left;
        @media screen and (max-width:$desktop) {
            font-size: 16px;
            line-height: 20px;
        }
    }

    td {
        &.body {
            font-family: $font;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: $white;
            text-align: center;

            @media screen and (min-width:$desktop) {
                font-size: 32px;
                line-height: 40px;
            }
        }
    }
}