@mixin heading-green {
    font-family: $font;
    font-weight: 800;
    font-size: 21px;
    line-height: 26px;
    color: $green;
    text-transform: uppercase;

    @media screen and (min-width:$tablet) {
        font-size: 36px;
        line-height: 44px;
    }
}

@mixin heading-blue {
    font-family: $font;
    font-weight: 800;
    font-size: 21px;
    line-height: 26px;
    color: $blue;

    @media screen and (min-width:$tablet) {
        font-size: 36px;
        line-height: 44px;
    }
}

@mixin subheading {
    font-family: $font;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: $white;

    @media screen and (min-width:$tablet) {
        font-size: 25px;
        line-height: 30px;
    }
}

@mixin title {
    font-family: $font;
    font-weight: 500;
    font-size: 18px;
    color: $green;

    @media screen and (min-width:$tablet) {
        font-size: 21px;
    }
}

@mixin body {
    font-family: $font;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $white;

    @media screen and (min-width:$tablet) {
        font-size: 18px;
        line-height: 24px;
    }
}

.heading {
    position: relative;
    display: inline-block;

    &:after {
        display: block;
        content: '';
        position: absolute;
        width: 200vw;
        height: 2px;
        top: 50%;
        left: 150px;
        transform: translateY(-50%);
        z-index: 1;
        background-color: $green;

        @media screen and (min-width: $tablet) {
            left: 250px;
        }

        @media screen and (min-width: $desktop) {
            left: 200px;
        }
    }
}

.heading-blue {
    @include heading-blue();
    display: inline-block;
}

.subheading {
    @include subheading();
    margin-bottom: 18px;
}

.title {
    @include title();
}

.bold {
    font-weight: 700 !important;
}